global
    log /dev/log local0
    maxconn 4096

defaults
    mode http
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend http-in
    bind *:5000
    default_backend service-backend

backend service-backend
    balance roundrobin
    server node1 192.168.42.101:6000 check
    server node2 192.168.42.102:6000 check
    server node3 192.168.42.103:6000 check
