[Unit]
Description=Flask Web Service
After=network.target

[Service]
ExecStart=/usr/bin/env gunicorn -w 4 -b 0.0.0.0:5000 service:app
WorkingDirectory=/usr/local/bin
Restart=always
User=root
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
